@font-face {
  font-family: 'ABC Monument Grotesk';
  src: url(ABCMonumentGrotesk-Regular-Trial.woff2);
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --text-color: #003344;
  --grid-line: #00000011;
}

body {
  font-family: 'ABC Monument Grotesk', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.05;

  background-size: 32px 32px;
  /* background-image: linear-gradient(to right, var(--grid-line) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-line) 1px, transparent 1px); */
  background-position: center center;

  background-color: var(--background-color);
  color: var(--text-color);

  transition: background-color 1s, color 1s;
  cursor: crosshair;
}

body.yellow {
  --text-color: #f8d11c;
}

body.green {
  --background-color: #edfff6;
  --text-color: #00f9b5;
}

body.blue {
  --text-color: #2248cd;
}

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 3200px;
  height: 2300px;

  /* display: grid;
  padding: 120px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 150px; */

  touch-action: none;
}

section a {
  display: block;
  height: 400px;
  width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: crosshair;
}
section a:nth-child(1){
  top: 51%;
  left: 50%;
}
section a:nth-child(2){
  top: 15%;
  left: 35%;
}
section a:nth-child(3){
  top: 70%;
  left: 80%;
}
section a:nth-child(4){
  top: 30%;
  left: 22%;
}
section a:nth-child(5){
  top: 45%;
  left: 65%;
}
section a:nth-child(6){
  top: 55%;
  left: 35%;
}
section a:nth-child(7){
  top: 62%;
  left: 20%;
}
section a:nth-child(8){
  top: 12%;
  left: 8%;
}
section a:nth-child(9){
  top: 20%;
  left: 49%;
}
section a:nth-child(10){
  top: 75%;
  left: 63%;
}
section a:nth-child(11){
  top: 30%;
  left: 80%;
}
section a:nth-child(12){
  top: 10%;
  left: 63%;
}
section a:nth-child(13){
  top: 83%;
  left: 47%;
}
section a:nth-child(14){
  top: 43%;
  left: 5%;
}
section a:nth-child(15){
  top: 0%;
  left: 77%;
}
section a:nth-child(16){
  top: 0%;
  left: 20%;
}
section a:nth-child(17){
  top: 10%;
  left: 63%;
}
section a:nth-child(18){
  top: -10%;
  left: 50%;
}
section a:nth-child(19){
  top: 80%;
  left: 7%;
}
section a:nth-child(20){
  top: 90%;
  left: 30%;
}

section img {
  max-width: 100%;
  max-height: 500px;
  transition: opacity 0.25s, transform 0.25s, box-shadow 0.25s;
  box-shadow: 0 0 16px #00000000;
  position: relative;
  z-index: 1;
}

h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;

  font-size: 60px;
  mix-blend-mode: difference;
  color: #ffffff;
}

body.hovered img {
  opacity: 0;
}

body.hovered a.hovered img {
  opacity: 1;
  /* transform: scale(1.1); */
  box-shadow: 0 0 16px #00000033;
}


a{
  text-decoration: none;
}
p{
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

nav {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}
.nav-wrapper {
  /* backdrop-filter: blur(64px);
  background-color: rgba(33, 33, 33, 0.677);
  border: 1px solid #efeeec14; */
  background-color: var(--background-color);
  border: 1px solid black;
  width: 22rem;
  height: 3rem;
  padding: 0.6rem;
  z-index: 1;
}
.nav-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 31.5rem;
  width: 20rem;
  z-index: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.nav-pages {
  display: flex;
  flex-direction: column;
}
.nav-page {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.nav-page .ofh p {
  position: absolute;
  top: 0%;
  height: 36.5px;
  width: 100%;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -0.05rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.02em;
  transition: color 0.25s;
  color: #000000;
}
.nav-page .ofh {
  overflow: hidden;
  position: relative;
  height: 40.5px;
  width: 100%;
  font-size: 14px;
}
.nav-page .ofh p:nth-child(2) {
  top: 100%;
  color: #000000;
}
.nav-pages:hover .ofh p:nth-child(1) {
  color: rgb(111, 111, 111);
}
.nav-links {
  display: flex;
  flex-direction: column;
  position: relative;
}
.nav-links .ofh {
  line-height: 1.1;
}
.nav-links a {
  color: #000000;
  text-transform: capitalize;
  font-size: 14px;
  width: fit-content;
  transition: all 0.3s ease-out;
}
.nav-links a:hover {
  color: #b4b4b498;
}
.nav-bottom {
  position: absolute;
  z-index: 50;
  bottom: 0;
  height: 3rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
i {
  position: relative;
}
.nav-titles {
  padding: 0.2rem 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 23px;
  width: 6rem;
  overflow: hidden;
}
.nav-titles span {
  position: absolute;
}
.nav-button {
  padding: 0.2rem 1.5rem;
  display: flex;
  gap: 5px;
}
.nav-button span {
  position: absolute;
  right: 0;
  top: 0%;
  height: 16px;
}
.nav-button-wrapper {
  display: flex;
  flex-direction: column;
  height: 16px;
  width: 41px;
  overflow: hidden;
  position: relative;
}
.nav-button-wrapper span:nth-child(2) {
  top: 100%;
}

.infos{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: white;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.infos p{
  color: black;
  font-weight: 500;
}
.info-close{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  overflow: hidden;
}
.info-close p{
  position: relative;
}
.info-close p::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #000;
  transition: .3s all ease-out;
}
.info-close:hover p::before{
  width: 100%;
}
.info-wrapper{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.info-bio{
  width: 65vw;
}
.info-bio p{
  font-size: 1.5rem;
  letter-spacing: -.01rem;
}
.info-bio p .line {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
  display: block;
}
.info-bio p .line span {
  position: relative;
  will-change: transform;
  display: flex;
  transform: translateY(70px);
  text-align: start;
}
.info-awards{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 65vw;
}
.award{
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}
.award p{
  width: 20rem;
}
.award p:nth-child(2){
  position: relative;
  left: 11rem;
}
.award p:nth-child(3){
  text-align: end;
}
.info-contact{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info-contact .ofh{
  display: flex;
  gap: 2rem;
}

.hover-div{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .5s;
  pointer-events: none;
  will-change: transform;
  opacity: 0;
  scale: 1;
}
.hover-div.active{
  opacity: 1;
}
.top-left{
  position: absolute;
  top: 1px;
  left: -2px;
  width: 35px;
  height: 35px;
  border-left: 3px solid #000;
  border-top: 3px solid #000;
}
.top-right{
  position: absolute;
  top: 1px;
  right: -2px;
  width: 35px;
  height: 35px;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
}
.bottom-right{
  position: absolute;
  bottom: 1px;
  right: -2px;
  width: 35px;
  height: 35px;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
}
.bottom-left{
  position: absolute;
  bottom: 1px;
  left: -2px;
  width: 35px;
  height: 35px;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
}

footer{
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.5em;
  z-index: 20;
  mix-blend-mode: difference;
  pointer-events: none;
}
.footer-wrap{
  display: flex;
  gap: 2em;
}

@media (max-width: 530px) {
  h1{
    font-size: 3rem;
    text-align: center;
  }
  p{
    font-size: 16px;
  }
  .infos{
    padding: 1rem;
  }
  .info-close{
    top: 1rem;
    z-index: 10;
  }
  .info-wrapper{
    gap: 1.5rem;
  }
  .info-bio{
    width: 95%;
  }
  .info-bio p {
    font-size: 22px;
  }
  .info-awards{
    width: 98%;
  }
  .award p:nth-child(2){
    left: 2rem;
  }
  .info-contact .ofh:nth-child(1){
    display: none;
  }
}